<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style media="screen">

    .is-loading { background: red; }
  </style>


</head>
<body>

  <div id="root">
    <!-- [v-model] directive is specific to form and control input-->
    <!-- <input type="text" id="input" v-model="message"> -->

    <!-- I want to spit out the value in our data model called message -->
    <!-- <p>The value of the input is: {{ message }}.</p> -->

      <!-- v-for = list rendering -->
      <li v-for="name in names">{{ name }}</li>

    <input type="text" id="input" v-model= "newName">

    <!--also can use v-on:click-->
    <button @click="addName">Add Name</button>

    <!-- title is the attribute we are binding to-->
    <!-- : is equivalent to v-bind-->
    <button v-bind:title="title">Make me a title</button>

    <button :class= '{ "is-loading": true }' @click="toggleClass">Click Me</button>
  </div>


  <script src="https://unpkg.com/vue"></script>


  <script>

    // Vue instance
    new Vue({

      // Bind to an element ID in the DOM
      el: '#root',

      // Specify some data (kinda like the model for the view)
      data: {
        title: "I am made with javascript",

        message: "Hello World",

        className: "color-red",

        newName: "",

        //list-type
        names: ["James", "Mary", "Joe", "Lee"]

      },

      methods: {
        addName(){
          this.names.push(this.newName)

          //clears the form
          this.newName= "";
        }

        // toggleClass(){
        //   this.isLoading= true;
        //
        // }

      }
    })
  </script>

</body>
</html>
